/* screen - index */

.index {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 11138px;
  max-width: 1402px;
  min-width: 1401px;
  overflow: hidden;
  position: relative;
}

.index .head {
  height: 843px;
  margin-right: -1.00px;
  position: relative;
  width: 1402px;
}

.index .overlap-group {
  align-items: flex-start;
  background-image: url(../img/image-19.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  height: 840px;
  min-width: 1402px;
  padding: 32px 0;
  position: relative;
  top: -32px;
}

.index .head-1 {
  height: 116px;
  object-fit: cover;
  width: 583px;
}

.index .article-1 {
  align-self: stretch;
  background-color: var(--white);
  height: 1191px;
  position: relative;
  width: 100%;
}

.index .submit-1 {
  align-items: flex-start;
  background-color: var(--teak);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  height: 107px;
  justify-content: center;
  left: 396px;
  padding: 16px;
  position: absolute;
  top: 27px;
  width: 812px;
}

.index .text-1 {
  align-self: stretch;
  color: var(--white);
  font-family: var(--font-family-roboto);
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  text-align: center;
}

.index .article-1-img-1 {
  height: 214px;
  left: 689px;
  top: 202px;
  width: 616px;
}

.index .article-1-img-2 {
  height: 177px;
  left: 976px;
  top: 546px;
  width: 331px;
}

.index .x1960 {
  left: 55px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: 247px;
  width: 488px;
}

.index .span2 {
  color: var(--gray);
  font-family: var(--font-family-roboto);
  font-size: 12px;
  font-weight: 600;
}

.index .span-1 {
  line-height: 52px;
}

.index .span4 {
  line-height: 36px;
}

.index .span5 {
  color: var(--gray);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xxxl);
  font-weight: 700;
  line-height: 80px;
}

.index .span6 {
  color: var(--gray);
  font-family: var(--font-family-roboto);
  font-size: 36px;
  font-weight: 700;
  line-height: 52px;
}

.index .article-1-img-3 {
  height: 514px;
  left: 595px;
  top: 546px;
  width: 343px;
}

.index .article-1-img-4 {
  height: 221px;
  left: 974px;
  top: 803px;
  width: 331px;
}

.index .article-2 {
  align-items: flex-start;
  align-self: stretch;
  background-color: var(--white);
  display: flex;
  flex: 0 0 auto;
  flex-wrap: wrap;
  gap: 0px -699px;
  position: relative;
  width: 100%;
}

.index .article-2-img-1 {
  height: 265px;
  object-fit: cover;
  position: relative;
  width: 1401px;
}

.index .article-2-img-2 {
  height: 280px;
  left: 268px;
  object-fit: cover;
  position: absolute;
  top: 386px;
  width: 847px;
}

.index .article-2-img-3 {
  height: 526px;
  object-fit: cover;
  position: relative;
  width: 1400px;
}

.index .architect-zero {
  color: transparent;
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xxxxxl);
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: 100px;
  position: absolute;
  text-align: center;
  top: 41px;
  width: 1401px;
}

.index .span0 {
  color: var(--red-2);
  font-weight: 900;
}

.index .span5-1 {
  color: var(--slate800);
  font-size: var(--font-size-xxxl);
  font-weight: 500;
}

.index .article-3 {
  align-items: center;
  align-self: stretch;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 1083px;
  position: relative;
  width: 100%;
}

.index .rectangle-6 {
  background-color: var(--alto);
  border-radius: 50px;
  height: 807px;
  left: 786px;
  position: absolute;
  top: 261px;
  width: 498px;
}

.index .text-2 {
  color: var(--slate800);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xxxxl);
  font-weight: 400;
  height: 285px;
  line-height: 48px;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  width: 1325px;
}

.index .span0-1 {
  font-weight: 700;
  letter-spacing: 0;
  line-height: 64px;
}

.index .span-2 {
  letter-spacing: 0;
  line-height: 80px;
}

.index .span2-1 {
  letter-spacing: 0;
  line-height: 80px;
  text-decoration: underline;
}

.index .text_label {
  color: transparent;
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-m);
  font-weight: 400;
  left: 711px;
  line-height: 14px;
  position: absolute;
  text-align: center;
  top: 311px;
  width: 624px;
}

.index .span0-2 {
  letter-spacing: 0;
  line-height: 50px;
}

.index .span1 {
  color: var(--black);
  font-size: var(--font-size-l);
  font-weight: 700;
  letter-spacing: 0;
  line-height: 28px;
}

.index .span2-2 {
  color: var(--teak);
  font-size: var(--font-size-xxxxl);
  font-weight: 600;
  letter-spacing: 0;
  line-height: 100px;
}

.index .span3 {
  color: var(--black);
  font-size: var(--font-size-xl);
  font-weight: 700;
  letter-spacing: 0;
  line-height: 100px;
}

.index .span4-1 {
  letter-spacing: 0;
  line-height: 100px;
}

.index .span5-2 {
  letter-spacing: 0;
  line-height: 100px;
  text-decoration: underline;
}

.index .article-4::-webkit-scrollbar {
  display: none;
  width: 0;
}

.index .article-4 {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  gap: 40px -577px;
  height: 727px;
  overflow: hidden;
  overflow-x: scroll;
  position: relative;
  width: 1384px;
}

.index .text-3 {
  color: transparent;
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xxxl);
  font-weight: 700;
  letter-spacing: 0;
  line-height: 64px;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  width: 1407.13px;
}

.index .span0-3 {
  color: var(--slate800);
}

.index .text-4 {
  height: 90px;
  letter-spacing: 0;
  line-height: 64px;
  position: relative;
  text-align: center;
  width: 1299px;
}

.index .text_label-1 {
  left: 151px;
  letter-spacing: 0;
  line-height: 64px;
  position: absolute;
  top: 257px;
  width: 1090px;
}

.index .span1-1 {
  color: #499cd7;
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-m);
  font-weight: 400;
}

.index .span-3 {
  text-decoration: underline;
}

.index .sulider-1-1::-webkit-scrollbar {
  display: none;
  width: 0;
}

.index .sulider-1-1 {
  align-items: flex-end;
  display: flex;
  gap: 23px;
  height: 451px;
  margin-right: -1366.21px;
  overflow: hidden;
  overflow-x: scroll;
  padding: 0px 30px;
  position: relative;
  width: 2767.21px;
}

.index .sulider {
  height: 451px;
  object-fit: cover;
  position: relative;
  width: 675.68px;
}

.index .sulider-1 {
  height: 448px;
  object-fit: cover;
  position: relative;
  width: 671.18px;
}

.index .article-5::-webkit-scrollbar {
  display: none;
  width: 0;
}

.index .article-5 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  overflow-x: scroll;
  padding: 60px 76px;
  position: relative;
}

.index .text-5 {
  height: 98.49px;
  letter-spacing: 0;
  line-height: 64px;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  width: 1150.27px;
}

.index .sole-living {
  height: 528px;
  letter-spacing: 0;
  line-height: 64px;
  position: relative;
  width: 1150px;
}

.index .sulider-2::-webkit-scrollbar {
  display: none;
  width: 0;
}

.index .sulider-2 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 26px;
  margin-right: -1438.68px;
  overflow-x: scroll;
  padding: 0px 22px;
  position: relative;
}

.index .sulider-2-img-2 {
  height: 456px;
  width: 683.17px;
}

.index .sulider-2-img-3 {
  height: 453px;
  width: 678.67px;
}

.index .sulider-2-img-4 {
  height: 457px;
  width: 684.66px;
}

.index .article-6::-webkit-scrollbar {
  display: none;
  width: 0;
}

.index .article-6 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  overflow-x: scroll;
  padding: 73px 76px;
  position: relative;
  width: 100%;
}

.index .text-6 {
  height: 118.95px;
  letter-spacing: 0;
  line-height: 64px;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  width: 1151.91px;
}

.index .text-7 {
  height: 559px;
  letter-spacing: 0;
  line-height: 64px;
  position: relative;
  width: 1197px;
}

.index .sulider-3::-webkit-scrollbar {
  display: none;
  width: 0;
}

.index .sulider-3 {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  gap: 1245px 34px;
  height: 486px;
  margin-right: -1390.00px;
  overflow: hidden;
  overflow-x: scroll;
  padding: 0px 22px;
  position: relative;
  width: 2791px;
}

.index .sulider-3-img-3 {
  height: 449px;
  object-fit: cover;
  position: relative;
  width: 672.68px;
}

.index .x230627_044-1 {
  height: 511px;
  margin-bottom: -1721.00px;
  object-fit: cover;
  position: relative;
  width: 765px;
}

.index .x230627_001-3 {
  margin-bottom: -1211.00px;
  position: relative;
}

.index .x230627_001-2 {
  left: 428px;
  position: absolute;
  top: 385px;
}

.index .article-7 {
  background-color: var(--white);
  height: 290px;
  position: relative;
  width: 1401px;
}

.index .text-8 {
  color: var(--teak);
  font-family: var(--font-family-roboto_mono);
  font-size: 40px;
  font-weight: 700;
  left: 784px;
  letter-spacing: 0;
  line-height: 80px;
  position: absolute;
  top: 51px;
  width: 595px;
}

.index .rectangle-3 {
  height: 254px;
  left: 754px;
  position: absolute;
  top: 18px;
  width: 511px;
}

.index .article-7-img-1 {
  height: 254px;
  left: 89px;
  object-fit: cover;
  position: absolute;
  top: 18px;
  width: 665px;
}

.index .article-8 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 1035px;
  position: relative;
  width: 1396px;
}

.index .view {
  align-items: center;
  background-color: var(--white);
  gap: 16px;
  height: 210px;
  padding: 32px 16px;
  position: relative;
  width: 1378px;
}

.index .text-9 {
  color: var(--slate800);
  font-family: var(--font-family-noto_serif_jp);
  font-size: var(--font-size-xxxl);
  font-weight: 900;
  height: 111px;
  letter-spacing: 0;
  line-height: 32px;
  position: relative;
  width: 1233px;
}

.index .article-8-img-1 {
  height: 805px;
  left: 150px;
  object-fit: cover;
  position: absolute;
  top: 139px;
  width: 1102px;
}

.index .article-9 {
  align-self: stretch;
  background-color: var(--white);
  height: 666px;
  position: relative;
  width: 100%;
}

.index .rectangle-5 {
  height: 270px;
  left: 186px;
  position: absolute;
  top: 29px;
  width: 1007px;
}

.index .text-10 {
  color: var(--white);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-m);
  font-weight: 400;
  left: 280px;
  letter-spacing: 0;
  line-height: 40px;
  position: absolute;
  top: 116px;
  width: 451px;
}

.index .text-11 {
  color: var(--white);
  font-family: var(--font-family-noto_serif_jp);
  font-size: var(--font-size-xxxl);
  font-weight: 900;
  left: 242px;
  letter-spacing: 0;
  line-height: 32px;
  position: absolute;
  top: 64px;
  width: 634px;
}

.index .article-9-img-1 {
  height: 208px;
  left: 111px;
  object-fit: cover;
  position: absolute;
  top: 312px;
  width: 1179px;
}

.index .article-10 {
  align-self: stretch;
  background-color: var(--slate100);
  height: 818px;
  position: relative;
  width: 100%;
}

.index .image {
  height: 111px;
  left: 52px;
  position: absolute;
  top: 595px;
  width: 626px;
}

.index .view-1 {
  align-items: flex-start;
  background-color: var(--malachite);
  border-radius: 8px;
  gap: 32px;
  height: 111px;
  left: 744px;
  padding: 16px 0px 16px 16px;
  position: absolute;
  top: 595px;
  width: 569px;
}

.index .line {
  align-self: stretch;
  color: var(--white);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xxxxxl);
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  text-align: center;
}

.index .image-32 {
  height: 108px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 108px;
}

.index .text-12 {
  color: var(--slate800);
  font-family: var(--font-family-noto_serif_jp);
  font-size: var(--font-size-xxxl);
  font-weight: 600;
  left: 46px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 55px;
  transform: rotate(-13.07deg);
  width: 201px;
}

.index .article-10-img-1 {
  height: 346px;
  left: 87px;
  position: absolute;
  top: 137px;
  width: 1237px;
}

.index .text-13 {
  left: 152px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 540px;
  width: 1172px;
}

.index .article-11-img-1 {
  align-self: stretch;
  height: 223px;
  object-fit: cover;
  position: relative;
  width: 100%;
}

.index .article-1-img {
  object-fit: cover;
  position: absolute;
}

.index .sulider-2-img {
  object-fit: cover;
  position: relative;
}

.index .view-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.index .x230627_001 {
  height: 1px;
  object-fit: cover;
  width: 1px;
}
/* screen - mobileu12486u12441u12469u12441u12452u12531 */

.mobileu12486u12441u12469u12441u12452u12531 {
  align-items: flex-end;
  background-color: var(--white);
  display: flex;
  flex-wrap: wrap;
  gap: 0px -179px;
  height: 8501px;
  min-width: 375px;
  overflow: hidden;
  padding: 42px 0px;
  position: relative;
}

.mobileu12486u12441u12469u12441u12452u12531 .head-2 {
  background-image: url(../img/image-19.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 243.5px;
  margin-top: -34.50px;
  position: relative;
  width: 375px;
}

.mobileu12486u12441u12469u12441u12452u12531 .head-img-1 {
  height: 23px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 137px;
}

.mobileu12486u12441u12469u12441u12452u12531 .article-1-1 {
  background-color: var(--white);
  height: 1044px;
  position: relative;
  width: 373px;
}

.mobileu12486u12441u12469u12441u12452u12531 .view-2 {
  align-items: center;
  background-color: var(--teak);
  border-radius: 8px;
  gap: 32px;
  height: 43px;
  left: 19px;
  padding: 16px;
  position: absolute;
  top: 18px;
  width: 334px;
}

.mobileu12486u12441u12469u12441u12452u12531 .text-14 {
  color: var(--white);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-l);
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  margin-bottom: -3.00px;
  margin-top: -5.00px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.mobileu12486u12441u12469u12441u12452u12531 .x1960-1 {
  left: 33px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: 277px;
}

.mobileu12486u12441u12469u12441u12452u12531 .span2-3 {
  font-size: 12px;
  font-weight: 600;
}

.mobileu12486u12441u12469u12441u12452u12531 .span-5 {
  line-height: 42px;
}

.mobileu12486u12441u12469u12441u12452u12531 .span-6 {
  line-height: 28px;
}

.mobileu12486u12441u12469u12441u12452u12531 .span5-3 {
  line-height: 64px;
}

.mobileu12486u12441u12469u12441u12452u12531 .span8 {
  line-height: 0.1px;
}

.mobileu12486u12441u12469u12441u12452u12531 .article-1-img-2-1 {
  height: 147px;
  left: 33px;
  top: 90px;
  width: 309px;
}

.mobileu12486u12441u12469u12441u12452u12531 .article-1-img-2-2 {
  height: 161px;
  left: 67px;
  top: 853px;
  width: 241px;
}

.mobileu12486u12441u12469u12441u12452u12531 .article-2-1 {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 336px;
  justify-content: space-between;
  position: relative;
  width: 374px;
}

.mobileu12486u12441u12469u12441u12452u12531 .article-2-img-1-1 {
  height: 132px;
  object-fit: cover;
  position: relative;
  width: 373px;
}

.mobileu12486u12441u12469u12441u12452u12531 .article-2-img-2-1 {
  height: 88px;
  left: 54px;
  object-fit: cover;
  position: absolute;
  top: 210px;
  width: 264px;
}

.mobileu12486u12441u12469u12441u12452u12531 .article-2-img-3-1 {
  height: 180px;
  object-fit: cover;
  position: relative;
  width: 373.4px;
}

.mobileu12486u12441u12469u12441u12452u12531 .architect-zero-1 {
  color: transparent;
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xxxl);
  font-weight: 900;
  left: 0;
  letter-spacing: 0;
  line-height: 32px;
  position: absolute;
  text-align: center;
  top: -1px;
  width: 372px;
}

.mobileu12486u12441u12469u12441u12452u12531 .span0-4 {
  color: var(--red-2);
  line-height: 100px;
}

.mobileu12486u12441u12469u12441u12452u12531 .span-7 {
  color: var(--slate800);
  line-height: 100px;
}

.mobileu12486u12441u12469u12441u12452u12531 .span-8 {
  color: var(--red);
  line-height: 100px;
}

.mobileu12486u12441u12469u12441u12452u12531 .span5-4 {
  color: var(--slate800);
  font-size: var(--font-size-xl);
  line-height: 44px;
}

.mobileu12486u12441u12469u12441u12452u12531 .article-3-1 {
  align-items: center;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 596px;
  padding: 19px 0px;
  position: relative;
  width: 378px;
}

.mobileu12486u12441u12469u12441u12452u12531 .text-15 {
  align-self: stretch;
  color: var(--gray);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-l);
  font-weight: 700;
  height: 70.44px;
  letter-spacing: 0;
  line-height: 44px;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
}

.mobileu12486u12441u12469u12441u12452u12531 .rectangle-6-1 {
  align-self: stretch;
  background-color: var(--alto);
  border-radius: 50px;
  height: 478px;
  margin-bottom: -10.44px;
  position: relative;
  width: 100%;
}

.mobileu12486u12441u12469u12441u12452u12531 .text_label-2 {
  left: 41px;
  line-height: 14px;
  position: absolute;
  text-align: center;
  top: 130px;
  width: 294px;
}

.mobileu12486u12441u12469u12441u12452u12531 .span0-5 {
  letter-spacing: 0;
  line-height: 40px;
}

.mobileu12486u12441u12469u12441u12452u12531 .span1-2 {
  color: var(--teak);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xxxl);
  font-weight: 600;
  letter-spacing: 0;
  line-height: 52px;
}

.mobileu12486u12441u12469u12441u12452u12531 .span2-4 {
  font-size: var(--font-size-l);
  font-weight: 700;
  letter-spacing: 0;
  line-height: 52px;
}

.mobileu12486u12441u12469u12441u12452u12531 .span-9 {
  letter-spacing: 0;
  line-height: 52px;
}

.mobileu12486u12441u12469u12441u12452u12531 .article-4-1::-webkit-scrollbar {
  display: none;
  width: 0;
}

.mobileu12486u12441u12469u12441u12452u12531 .article-4-1 {
  align-content: space-between;
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  height: 923px;
  overflow-x: scroll;
  position: relative;
  width: 378px;
}

.mobileu12486u12441u12469u12441u12452u12531 .text-16 {
  color: var(--teak);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xl);
  font-weight: 700;
  height: 107px;
  letter-spacing: 0;
  line-height: 44px;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  width: 371px;
}

.mobileu12486u12441u12469u12441u12452u12531 .text-17 {
  color: var(--gray);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xl);
  font-weight: 600;
  left: 18px;
  letter-spacing: 0;
  line-height: 54px;
  position: absolute;
  text-align: center;
  top: 106px;
  white-space: nowrap;
  width: 342px;
}

.mobileu12486u12441u12469u12441u12452u12531 .text_label-3 {
  left: 28px;
  letter-spacing: 0;
  line-height: 36px;
  position: absolute;
  top: 222px;
  width: 322px;
}

.mobileu12486u12441u12469u12441u12452u12531 .sulider-1-2::-webkit-scrollbar {
  display: none;
  width: 0;
}

.mobileu12486u12441u12469u12441u12452u12531 .sulider-1-2 {
  align-items: center;
  display: flex;
  gap: 10px;
  height: 162px;
  overflow-x: scroll;
  padding: 0px 22px;
  position: relative;
  width: 375px;
}

.mobileu12486u12441u12469u12441u12452u12531 .sulider-4 {
  height: 146px;
  object-fit: cover;
  position: relative;
  width: 218.73px;
}

.mobileu12486u12441u12469u12441u12452u12531 .article-5-1::-webkit-scrollbar {
  display: none;
  width: 0;
}

.mobileu12486u12441u12469u12441u12452u12531 .article-5-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 792px;
  overflow-x: scroll;
  padding: 26px 28px;
  position: relative;
  width: 375px;
}

.mobileu12486u12441u12469u12441u12452u12531 .text-18 {
  align-self: stretch;
  height: 97.04px;
  letter-spacing: 0;
  line-height: 54px;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
}

.mobileu12486u12441u12469u12441u12452u12531 .sole-living-1 {
  align-self: stretch;
  height: 630px;
  letter-spacing: 0;
  line-height: 36px;
  margin-bottom: -6.04px;
  position: relative;
}

.mobileu12486u12441u12469u12441u12452u12531 .sulider-2-img-1::-webkit-scrollbar {
  display: none;
  width: 0;
}

.mobileu12486u12441u12469u12441u12452u12531 .sulider-2-img-1 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 20px;
  height: 162px;
  overflow-x: scroll;
  padding: 0px 22px;
  position: relative;
}

.mobileu12486u12441u12469u12441u12452u12531 .article-6-1::-webkit-scrollbar {
  display: none;
  width: 0;
}

.mobileu12486u12441u12469u12441u12452u12531 .article-6-1 {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: 893px;
  overflow: hidden;
  overflow-x: scroll;
  padding: 35px 24px;
  position: relative;
  width: 375px;
}

.mobileu12486u12441u12469u12441u12452u12531 .text-19 {
  align-self: stretch;
  height: 118.64px;
  letter-spacing: 0;
  line-height: 54px;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
}

.mobileu12486u12441u12469u12441u12452u12531 .text-20 {
  align-self: stretch;
  height: 760.5px;
  letter-spacing: 0;
  line-height: 36px;
  margin-bottom: -35.00px;
  position: relative;
}

.mobileu12486u12441u12469u12441u12452u12531 .sulider-3-1::-webkit-scrollbar {
  display: none;
  width: 0;
}

.mobileu12486u12441u12469u12441u12452u12531 .sulider-3-1 {
  align-items: center;
  display: flex;
  gap: 9px;
  height: 198px;
  overflow-x: scroll;
  padding: 0px 22px;
  position: relative;
  width: 591px;
}

.mobileu12486u12441u12469u12441u12452u12531 .sulider-3-img-1 {
  height: 146px;
  object-fit: cover;
  position: relative;
  width: 219px;
}

.mobileu12486u12441u12469u12441u12452u12531 .article-7-1 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 276px;
  padding: 0px 16px;
  position: relative;
  width: 372px;
}

.mobileu12486u12441u12469u12441u12452u12531 .article-7-img-1-1 {
  height: 122px;
  margin-right: -4.00px;
  object-fit: cover;
  position: relative;
  width: 344px;
}

.mobileu12486u12441u12469u12441u12452u12531 .rectangle-3-1 {
  height: 117px;
  margin-right: -3.00px;
  position: relative;
  width: 343px;
}

.mobileu12486u12441u12469u12441u12452u12531 .text-21 {
  color: var(--teak);
  font-family: var(--font-family-roboto_mono);
  font-size: var(--font-size-xl);
  font-weight: 700;
  left: 14px;
  letter-spacing: 0;
  line-height: 44px;
  position: absolute;
  text-align: center;
  top: 134px;
  width: 344px;
}

.mobileu12486u12441u12469u12441u12452u12531 .article-8-1 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 368px;
  position: relative;
  width: 374px;
}

.mobileu12486u12441u12469u12441u12452u12531 .view-3 {
  align-items: center;
  align-self: stretch;
  background-color: var(--white);
  flex-direction: column;
  gap: 16px;
  height: 361px;
  padding: 32px 16px;
  position: relative;
  width: 100%;
}

.mobileu12486u12441u12469u12441u12452u12531 .text-22 {
  color: var(--slate800);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xxl);
  font-weight: 900;
  height: 42px;
  letter-spacing: 0;
  line-height: 32px;
  margin-left: -16.50px;
  margin-right: -16.50px;
  margin-top: -14.50px;
  position: relative;
  width: 375px;
}

.mobileu12486u12441u12469u12441u12452u12531 .article-8-img-1-1 {
  align-self: stretch;
  height: 266px;
  margin-bottom: -13.50px;
  object-fit: cover;
  position: relative;
  width: 100%;
}

.mobileu12486u12441u12469u12441u12452u12531 .article-9-1 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 1936px;
  justify-content: center;
  position: relative;
  width: 372px;
}

.mobileu12486u12441u12469u12441u12452u12531 .rectangle-5-1 {
  height: 293px;
  position: relative;
  width: 363px;
}

.mobileu12486u12441u12469u12441u12452u12531 .text-23 {
  color: var(--white);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-l);
  font-weight: 400;
  left: 24px;
  letter-spacing: 0;
  line-height: 40px;
  position: absolute;
  top: 143px;
  width: 326px;
}

.mobileu12486u12441u12469u12441u12452u12531 .text-24 {
  color: var(--white);
  font-family: var(--font-family-noto_serif_jp);
  font-size: var(--font-size-xxl);
  font-weight: 900;
  left: 24px;
  letter-spacing: 0;
  line-height: 44px;
  position: absolute;
  top: 44px;
  width: 324px;
}

.mobileu12486u12441u12469u12441u12452u12531 .article-9-img-1-1 {
  height: 305px;
  position: relative;
  width: 352px;
}

.mobileu12486u12441u12469u12441u12452u12531 .article-9-img-2 {
  height: 307px;
  position: relative;
  width: 352px;
}

.mobileu12486u12441u12469u12441u12452u12531 .article-9-img-3 {
  height: 293px;
  position: relative;
  width: 352px;
}

.mobileu12486u12441u12469u12441u12452u12531 .article-9-img-4 {
  height: 315px;
  position: relative;
  width: 352px;
}

.mobileu12486u12441u12469u12441u12452u12531 .article-9-img-5 {
  height: 377px;
  position: relative;
  width: 356px;
}

.mobileu12486u12441u12469u12441u12452u12531 .article-10-1 {
  height: 434px;
  position: relative;
  width: 368px;
}

.mobileu12486u12441u12469u12441u12452u12531 .text-25 {
  color: var(--slate800);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-l);
  font-weight: 600;
  left: -2px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: right;
  top: 29px;
  transform: rotate(-5.77deg);
  width: 112px;
}

.mobileu12486u12441u12469u12441u12452u12531 .article-10-img-1-1 {
  height: 127px;
  left: 36px;
  position: absolute;
  top: 61px;
  width: 300px;
}

.mobileu12486u12441u12469u12441u12452u12531 .text-26 {
  left: 51px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 196px;
  width: 290px;
}

.mobileu12486u12441u12469u12441u12452u12531 .view-4 {
  align-items: flex-start;
  background-color: var(--malachite);
  border-radius: 8px;
  flex-direction: column;
  gap: 32px;
  height: 61px;
  left: 36px;
  padding: 16px 0px 16px 16px;
  position: absolute;
  top: 344px;
  width: 311px;
}

.mobileu12486u12441u12469u12441u12452u12531 .line-1 {
  align-self: stretch;
  color: var(--white);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xl);
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  text-align: center;
}

.mobileu12486u12441u12469u12441u12452u12531 .image-32-1 {
  height: 61px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 62px;
}

.mobileu12486u12441u12469u12441u12452u12531 .image-1 {
  height: 70px;
  left: 38px;
  position: absolute;
  top: 261px;
  width: 311px;
}

.mobileu12486u12441u12469u12441u12452u12531 .footer-img-1 {
  height: 88px;
  object-fit: cover;
  position: relative;
  width: 383px;
}

.mobileu12486u12441u12469u12441u12452u12531 .article-1-img-2 {
  object-fit: cover;
  position: absolute;
}

.mobileu12486u12441u12469u12441u12452u12531 .span2 {
  color: var(--gray);
  font-family: var(--font-family-roboto);
}

.mobileu12486u12441u12469u12441u12452u12531 .view {
  display: flex;
  justify-content: center;
}
/* screen - u12486u12441u12473u12463u12488u12483u12501u12442u12486u12441u12469u12441u12452u12531u65298 */

.u12486u12441u12473u12463u12488u12483u12501u12442u12486u12441u12469u12441u12452u12531u65298 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 9096px;
  max-width: 1402px;
  min-width: 1024px;
  position: relative;
}

.u12486u12441u12473u12463u12488u12483u12501u12442u12486u12441u12469u12441u12452u12531u65298 .head-3 {
  align-self: stretch;
  background-image: url(../img/frame-20.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 532px;
  position: relative;
  width: 100%;
}

.u12486u12441u12473u12463u12488u12483u12501u12442u12486u12441u12469u12441u12452u12531u65298 .head-img-1-1 {
  height: 57px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 381px;
}

.u12486u12441u12473u12463u12488u12483u12501u12442u12486u12441u12469u12441u12452u12531u65298 .article-1-2 {
  align-self: stretch;
  background-color: var(--white);
  height: 945px;
  position: relative;
  width: 100%;
}

.u12486u12441u12473u12463u12488u12483u12501u12442u12486u12441u12469u12441u12452u12531u65298 .view-5 {
  align-items: center;
  background-color: var(--teak);
  border-radius: 8px;
  gap: 32px;
  height: 107px;
  left: 130px;
  overflow: hidden;
  padding: 16px;
  position: absolute;
  top: 29px;
  width: 812px;
}

.u12486u12441u12473u12463u12488u12483u12501u12442u12486u12441u12469u12441u12452u12531u65298 .text-27 {
  color: var(--white);
  font-family: var(--font-family-roboto);
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.u12486u12441u12473u12463u12488u12483u12501u12442u12486u12441u12469u12441u12452u12531u65298 .article-1-img-2-3 {
  height: 177px;
  left: 645px;
  object-fit: cover;
  position: absolute;
  top: 407px;
  width: 331px;
}

.u12486u12441u12473u12463u12488u12483u12501u12442u12486u12441u12469u12441u12452u12531u65298 .article-1-img-3-1 {
  height: 205px;
  left: 669px;
  object-fit: cover;
  position: absolute;
  top: 661px;
  width: 307px;
}

.u12486u12441u12473u12463u12488u12483u12501u12442u12486u12441u12469u12441u12452u12531u65298 .article-1-img-4-1 {
  height: 277px;
  left: 411px;
  object-fit: cover;
  position: absolute;
  top: 591px;
  width: 185px;
}

.u12486u12441u12473u12463u12488u12483u12501u12442u12486u12441u12469u12441u12452u12531u65298 .article-1i-mg-1 {
  height: 88px;
  left: 683px;
  object-fit: cover;
  position: absolute;
  top: 253px;
  width: 302px;
}

.u12486u12441u12473u12463u12488u12483u12501u12442u12486u12441u12469u12441u12452u12531u65298 .x1960-2 {
  left: 55px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: 201px;
}

.u12486u12441u12473u12463u12488u12483u12501u12442u12486u12441u12469u12441u12452u12531u65298 .span2-5 {
  color: var(--gray);
  font-family: var(--font-family-roboto);
  font-size: 12px;
  font-weight: 400;
}

.u12486u12441u12473u12463u12488u12483u12501u12442u12486u12441u12469u12441u12452u12531u65298 .span-11 {
  line-height: 52px;
}

.u12486u12441u12473u12463u12488u12483u12501u12442u12486u12441u12469u12441u12452u12531u65298 .span-12 {
  line-height: 28px;
}

.u12486u12441u12473u12463u12488u12483u12501u12442u12486u12441u12469u12441u12452u12531u65298 .span5-5 {
  color: var(--gray);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xxxl);
  font-weight: 700;
  line-height: 60px;
}

.u12486u12441u12473u12463u12488u12483u12501u12442u12486u12441u12469u12441u12452u12531u65298 .span6-1 {
  color: var(--gray);
  font-family: var(--font-family-roboto);
  font-size: 36px;
  font-weight: 700;
  line-height: 52px;
}

.u12486u12441u12473u12463u12488u12483u12501u12442u12486u12441u12469u12441u12452u12531u65298 .span9 {
  line-height: 0.1px;
}

.u12486u12441u12473u12463u12488u12483u12501u12442u12486u12441u12469u12441u12452u12531u65298 .article-2-2 {
  align-items: flex-end;
  align-self: stretch;
  background-color: var(--white);
  display: flex;
  flex: 0 0 auto;
  flex-wrap: wrap;
  gap: 0px -286px;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.u12486u12441u12473u12463u12488u12483u12501u12442u12486u12441u12469u12441u12452u12531u65298 .article-2-img-1-2 {
  height: 265px;
  object-fit: cover;
  position: relative;
  width: 1017px;
}

.u12486u12441u12473u12463u12488u12483u12501u12442u12486u12441u12469u12441u12452u12531u65298 .article-2-img-2-2 {
  height: 239px;
  left: 118px;
  object-fit: cover;
  position: absolute;
  top: 337px;
  width: 788px;
}

.u12486u12441u12473u12463u12488u12483u12501u12442u12486u12441u12469u12441u12452u12531u65298 .article-2-img-3-2 {
  height: 384.74px;
  object-fit: cover;
  position: relative;
  width: 1024px;
}

.u12486u12441u12473u12463u12488u12483u12501u12442u12486u12441u12469u12441u12452u12531u65298 .architect-zero-2 {
  color: transparent;
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xxxxxl);
  font-weight: 400;
  left: 241px;
  letter-spacing: 0;
  line-height: 100px;
  position: absolute;
  text-align: center;
  top: 41px;
  width: 590px;
}

.u12486u12441u12473u12463u12488u12483u12501u12442u12486u12441u12469u12441u12452u12531u65298 .span0-6 {
  color: var(--red-2);
  font-weight: 900;
}

.u12486u12441u12473u12463u12488u12483u12501u12442u12486u12441u12469u12441u12452u12531u65298 .span5-6 {
  color: var(--slate800);
  font-size: var(--font-size-xxxl);
  font-weight: 600;
}

.u12486u12441u12473u12463u12488u12483u12501u12442u12486u12441u12469u12441u12452u12531u65298 .article-3-2 {
  align-items: center;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 793px;
  justify-content: space-between;
  position: relative;
  width: 998px;
}

.u12486u12441u12473u12463u12488u12483u12501u12442u12486u12441u12469u12441u12452u12531u65298 .text-28 {
  line-height: 80px;
  margin-top: -1.00px;
  opacity: 0.4;
  position: relative;
  text-align: center;
  width: 528px;
}

.u12486u12441u12473u12463u12488u12483u12501u12442u12486u12441u12469u12441u12452u12531u65298 .span-13 {
  letter-spacing: 0;
}

.u12486u12441u12473u12463u12488u12483u12501u12442u12486u12441u12469u12441u12452u12531u65298 .span1-3 {
  letter-spacing: 0;
  text-decoration: underline;
}

.u12486u12441u12473u12463u12488u12483u12501u12442u12486u12441u12469u12441u12452u12531u65298 .rectangle-6-2 {
  background-color: var(--alto);
  border-radius: 50px;
  height: 616px;
  position: relative;
  width: 830px;
}

.u12486u12441u12473u12463u12488u12483u12501u12442u12486u12441u12469u12441u12452u12531u65298 .text_label-4 {
  left: 135px;
  line-height: 14px;
  position: absolute;
  text-align: center;
  top: 207px;
  width: 727px;
}

.u12486u12441u12473u12463u12488u12483u12501u12442u12486u12441u12469u12441u12452u12531u65298 .span0-7 {
  letter-spacing: 0;
  line-height: 50px;
}

.u12486u12441u12473u12463u12488u12483u12501u12442u12486u12441u12469u12441u12452u12531u65298 .span1-4 {
  color: var(--black);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-l);
  font-weight: 700;
  letter-spacing: 0;
  line-height: 28px;
}

.u12486u12441u12473u12463u12488u12483u12501u12442u12486u12441u12469u12441u12452u12531u65298 .span2-6 {
  color: var(--teak);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xxxxl);
  font-weight: 600;
  letter-spacing: 0;
  line-height: 100px;
}

.u12486u12441u12473u12463u12488u12483u12501u12442u12486u12441u12469u12441u12452u12531u65298 .span3-1 {
  color: var(--black);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xl);
  font-weight: 700;
  letter-spacing: 0;
  line-height: 100px;
}

.u12486u12441u12473u12463u12488u12483u12501u12442u12486u12441u12469u12441u12452u12531u65298 .span4-2 {
  letter-spacing: 0;
  line-height: 100px;
}

.u12486u12441u12473u12463u12488u12483u12501u12442u12486u12441u12469u12441u12452u12531u65298 .span5-7 {
  letter-spacing: 0;
  line-height: 100px;
  text-decoration: underline;
}

.u12486u12441u12473u12463u12488u12483u12501u12442u12486u12441u12469u12441u12452u12531u65298 .article-4-2::-webkit-scrollbar {
  display: none;
  width: 0;
}

.u12486u12441u12473u12463u12488u12483u12501u12442u12486u12441u12469u12441u12452u12531u65298 .article-4-2 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  height: 778px;
  justify-content: space-around;
  overflow-x: scroll;
  position: relative;
  width: 100%;
}

.u12486u12441u12473u12463u12488u12483u12501u12442u12486u12441u12469u12441u12452u12531u65298 .text-29 {
  color: transparent;
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xxxl);
  font-weight: 700;
  letter-spacing: 0;
  line-height: 64px;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  width: 1024px;
}

.u12486u12441u12473u12463u12488u12483u12501u12442u12486u12441u12469u12441u12452u12531u65298 .span0-8 {
  color: var(--slate800);
}

.u12486u12441u12473u12463u12488u12483u12501u12442u12486u12441u12469u12441u12452u12531u65298 .text-30 {
  left: 42px;
  letter-spacing: 0;
  line-height: 64px;
  position: absolute;
  text-align: center;
  top: 138px;
  white-space: nowrap;
  width: 939px;
}

.u12486u12441u12473u12463u12488u12483u12501u12442u12486u12441u12469u12441u12452u12531u65298 .text_label-5 {
  left: 64px;
  letter-spacing: 0;
  line-height: 64px;
  position: absolute;
  top: 230px;
  width: 895px;
}

.u12486u12441u12473u12463u12488u12483u12501u12442u12486u12441u12469u12441u12452u12531u65298 .span1-5 {
  color: #499cd7;
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-m);
  font-weight: 400;
}

.u12486u12441u12473u12463u12488u12483u12501u12442u12486u12441u12469u12441u12452u12531u65298 .span-14 {
  text-decoration: underline;
}

.u12486u12441u12473u12463u12488u12483u12501u12442u12486u12441u12469u12441u12452u12531u65298 .sulider-1-3::-webkit-scrollbar {
  display: none;
  width: 0;
}

.u12486u12441u12473u12463u12488u12483u12501u12442u12486u12441u12469u12441u12452u12531u65298 .sulider-1-3 {
  align-items: center;
  align-self: stretch;
  display: flex;
  gap: 23px;
  height: 350px;
  overflow-x: scroll;
  padding: 0px 50px;
  position: relative;
  width: 100%;
}

.u12486u12441u12473u12463u12488u12483u12501u12442u12486u12441u12469u12441u12452u12531u65298 .sulider-5 {
  height: 350px;
  object-fit: cover;
  position: relative;
  width: 524px;
}

.u12486u12441u12473u12463u12488u12483u12501u12442u12486u12441u12469u12441u12452u12531u65298 .article-5-2::-webkit-scrollbar {
  display: none;
  width: 0;
}

.u12486u12441u12473u12463u12488u12483u12501u12442u12486u12441u12469u12441u12452u12531u65298 .article-5-2 {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 774px;
  overflow-x: scroll;
  padding: 60px 76px;
  position: relative;
  width: 1008px;
}

.u12486u12441u12473u12463u12488u12483u12501u12442u12486u12441u12469u12441u12452u12531u65298 .text-31 {
  height: 79px;
  letter-spacing: 0;
  line-height: 64px;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  width: 1008px;
}

.u12486u12441u12473u12463u12488u12483u12501u12442u12486u12441u12469u12441u12452u12531u65298 .sole-living-2 {
  align-self: stretch;
  height: 579px;
  letter-spacing: 0;
  line-height: 64px;
  margin-bottom: -3.00px;
  position: relative;
}

.u12486u12441u12473u12463u12488u12483u12501u12442u12486u12441u12469u12441u12452u12531u65298 .sulider-2-1::-webkit-scrollbar {
  display: none;
  width: 0;
}

.u12486u12441u12473u12463u12488u12483u12501u12442u12486u12441u12469u12441u12452u12531u65298 .sulider-2-1 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  overflow-x: scroll;
  padding: 3px 50px;
  position: relative;
  width: 100%;
}

.u12486u12441u12473u12463u12488u12483u12501u12442u12486u12441u12469u12441u12452u12531u65298 .sulider-2-img-1-1 {
  height: 350px;
  object-fit: cover;
  position: relative;
  width: 524.36px;
}

.u12486u12441u12473u12463u12488u12483u12501u12442u12486u12441u12469u12441u12452u12531u65298 .article-6-2::-webkit-scrollbar {
  display: none;
  width: 0;
}

.u12486u12441u12473u12463u12488u12483u12501u12442u12486u12441u12469u12441u12452u12531u65298 .article-6-2 {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 808px;
  overflow: hidden;
  overflow-x: scroll;
  padding: 73px 55px;
  position: relative;
  width: 1020px;
}

.u12486u12441u12473u12463u12488u12483u12501u12442u12486u12441u12469u12441u12452u12531u65298 .text-32 {
  height: 83px;
  letter-spacing: 0;
  line-height: 64px;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  width: 1024px;
}

.u12486u12441u12473u12463u12488u12483u12501u12442u12486u12441u12469u12441u12452u12531u65298 .text-33 {
  height: 643px;
  letter-spacing: 0;
  line-height: 64px;
  margin-bottom: -63.00px;
  position: relative;
  width: 876px;
}

.u12486u12441u12473u12463u12488u12483u12501u12442u12486u12441u12469u12441u12452u12531u65298 .sulider-3-2::-webkit-scrollbar {
  display: none;
  width: 0;
}

.u12486u12441u12473u12463u12488u12483u12501u12442u12486u12441u12469u12441u12452u12531u65298 .sulider-3-2 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex-wrap: wrap;
  gap: 622px 20px;
  height: 369px;
  overflow-x: scroll;
  padding: 0px 50px;
  position: relative;
  width: 100%;
}

.u12486u12441u12473u12463u12488u12483u12501u12442u12486u12441u12469u12441u12452u12531u65298 .article-7-2 {
  background-color: var(--white);
  height: 188px;
  overflow: hidden;
  position: relative;
  width: 1020px;
}

.u12486u12441u12473u12463u12488u12483u12501u12442u12486u12441u12469u12441u12452u12531u65298 .text-34 {
  color: var(--teak);
  font-family: var(--font-family-roboto_mono);
  font-size: var(--font-size-xl);
  font-weight: 700;
  left: 609px;
  letter-spacing: 0;
  line-height: 80px;
  position: absolute;
  top: 25px;
  width: 311px;
}

.u12486u12441u12473u12463u12488u12483u12501u12442u12486u12441u12469u12441u12452u12531u65298 .rectangle-3-2 {
  height: 188px;
  left: 568px;
  position: absolute;
  top: 0;
  width: 352px;
}

.u12486u12441u12473u12463u12488u12483u12501u12442u12486u12441u12469u12441u12452u12531u65298 .article-7-img-1-2 {
  height: 188px;
  left: 79px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 489px;
}

.u12486u12441u12473u12463u12488u12483u12501u12442u12486u12441u12469u12441u12452u12531u65298 .article-8-2 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 909px;
  position: relative;
  width: 1020px;
}

.u12486u12441u12473u12463u12488u12483u12501u12442u12486u12441u12469u12441u12452u12531u65298 .view-6 {
  align-items: center;
  align-self: stretch;
  background-color: var(--white);
  flex-direction: column;
  gap: 16px;
  height: 117px;
  padding: 32px 16px;
  position: relative;
  width: 100%;
}

.u12486u12441u12473u12463u12488u12483u12501u12442u12486u12441u12469u12441u12452u12531u65298 .text-35 {
  color: var(--slate800);
  font-family: var(--font-family-noto_serif_jp);
  font-size: 36px;
  font-weight: 900;
  height: 1px;
  letter-spacing: 0;
  line-height: 32px;
  position: relative;
  white-space: nowrap;
  width: 926px;
}

.u12486u12441u12473u12463u12488u12483u12501u12442u12486u12441u12469u12441u12452u12531u65298 .article-8-img-1-2 {
  height: 667px;
  left: 106px;
  object-fit: cover;
  position: absolute;
  top: 147px;
  width: 808px;
}

.u12486u12441u12473u12463u12488u12483u12501u12442u12486u12441u12469u12441u12452u12531u65298 .article-9-2 {
  background-color: var(--white);
  height: 421px;
  position: relative;
  width: 1014px;
}

.u12486u12441u12473u12463u12488u12483u12501u12442u12486u12441u12469u12441u12452u12531u65298 .rectangle-5-2 {
  background-color: #a59366a6;
  height: 197px;
  left: 100px;
  position: absolute;
  top: 12px;
  width: 817px;
}

.u12486u12441u12473u12463u12488u12483u12501u12442u12486u12441u12469u12441u12452u12531u65298 .text-36 {
  color: var(--white);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-m);
  font-weight: 400;
  left: 538px;
  letter-spacing: 0;
  line-height: 30px;
  position: absolute;
  top: 90px;
  width: 364px;
}

.u12486u12441u12473u12463u12488u12483u12501u12442u12486u12441u12469u12441u12452u12531u65298 .text-37 {
  color: var(--white);
  font-family: var(--font-family-noto_serif_jp);
  font-size: var(--font-size-xxxl);
  font-weight: 900;
  left: 121px;
  letter-spacing: 0;
  line-height: 32px;
  position: absolute;
  top: 31px;
  width: 781px;
}

.u12486u12441u12473u12463u12488u12483u12501u12442u12486u12441u12469u12441u12452u12531u65298 .article-9-img-1-2 {
  height: 155px;
  left: 100px;
  object-fit: cover;
  position: absolute;
  top: 245px;
  width: 812px;
}

.u12486u12441u12473u12463u12488u12483u12501u12442u12486u12441u12469u12441u12452u12531u65298 .article-10-2 {
  align-self: stretch;
  background-color: var(--slate100);
  height: 695px;
  position: relative;
  width: 100%;
}

.u12486u12441u12473u12463u12488u12483u12501u12442u12486u12441u12469u12441u12452u12531u65298 .image-2 {
  height: 94px;
  left: 48px;
  position: absolute;
  top: 565px;
  width: 474px;
}

.u12486u12441u12473u12463u12488u12483u12501u12442u12486u12441u12469u12441u12452u12531u65298 .view-7 {
  align-items: flex-start;
  background-color: var(--malachite);
  border-radius: 8px;
  flex-direction: column;
  gap: 32px;
  height: 94px;
  left: 542px;
  padding: 16px 0px 16px 16px;
  position: absolute;
  top: 567px;
  width: 428px;
}

.u12486u12441u12473u12463u12488u12483u12501u12442u12486u12441u12469u12441u12452u12531u65298 .line-2 {
  align-self: stretch;
  color: var(--white);
  font-family: var(--font-family-inter);
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  text-align: center;
}

.u12486u12441u12473u12463u12488u12483u12501u12442u12486u12441u12469u12441u12452u12531u65298 .image-32-2 {
  height: 94px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 82px;
}

.u12486u12441u12473u12463u12488u12483u12501u12442u12486u12441u12469u12441u12452u12531u65298 .text-38 {
  color: var(--slate800);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xxl);
  font-weight: 600;
  left: 34px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 47px;
  transform: rotate(-8.59deg);
  white-space: nowrap;
}

.u12486u12441u12473u12463u12488u12483u12501u12442u12486u12441u12469u12441u12452u12531u65298 .article-10-img-1-2 {
  height: 367px;
  left: 74px;
  position: absolute;
  top: 98px;
  width: 866px;
}

.u12486u12441u12473u12463u12488u12483u12501u12442u12486u12441u12469u12441u12452u12531u65298 .text-39 {
  left: 61px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 484px;
  width: 909px;
}

.u12486u12441u12473u12463u12488u12483u12501u12442u12486u12441u12469u12441u12452u12531u65298 .fooer-img {
  align-self: stretch;
  height: 281px;
  object-fit: cover;
  position: relative;
  width: 100%;
}

.u12486u12441u12473u12463u12488u12483u12501u12442u12486u12441u12469u12441u12452u12531u65298 .view {
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 1023px) {
  .screen.index { 
    display: none;
   }
  .screen.u12486u12441u12473u12463u12488u12483u12501u12442u12486u12441u12469u12441u12452u12531u65298 { 
    display: none;
   }
}
@media screen and (min-width: 1024px) and (max-width: 1400px) {
  .screen.index { 
    display: none;
   }
  .screen.mobileu12486u12441u12469u12441u12452u12531 { 
    display: none;
   }
}
@media screen and (min-width: 1401px) {
  .screen.mobileu12486u12441u12469u12441u12452u12531 { 
    display: none;
   }
  .screen.u12486u12441u12473u12463u12488u12483u12501u12442u12486u12441u12469u12441u12452u12531u65298 { 
    display: none;
   }
}