:root { 
  --alto: #d9d9d9a6;
  --black: #000000;
  --gray: #7e7e7e;
  --malachite: #06bd27;
  --red: #ff0004;
  --red-2: #ff0015;
  --slate100: #f0f4f8;
  --slate800: #1d283a;
  --teak: #a59366;
  --white: #ffffff;

  --font-size-l: 16px;
  --font-size-m: 14px;
  --font-size-xl: 20px;
  --font-size-xxl: 24px;
  --font-size-xxxl: 32px;
  --font-size-xxxxl: 48px;
  --font-size-xxxxxl: 64px;
 
  --font-family-inter: "Inter", Helvetica;
  --font-family-noto_serif_jp: "Noto Serif JP", Helvetica;
  --font-family-roboto: "Roboto", Helvetica;
  --font-family-roboto_mono: "Roboto Mono", Helvetica;
}
.roboto-medium-black-14px {
  color: var(--black);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 500;
}

.roboto-normal-black-14px {
  color: var(--black);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.roboto-normal-gray-14px {
  color: var(--gray);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.roboto-bold-gray-24px {
  color: var(--gray);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 700;
}

.roboto-medium-ebony-clay-24px {
  color: var(--slate800);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 500;
}

.roboto-black-gray-24px {
  color: var(--gray);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 900;
}

.roboto-bold-gray-12px {
  color: var(--gray);
  font-family: var(--font-family-roboto);
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
}
.roboto-bold-gray-36px {
  color: var(--gray);
  font-family: var(--font-family-roboto);
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
}

.roboto-black-ebony-clay-64px {
  color: var(--slate800);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xxxxxl);
  font-style: normal;
  font-weight: 900;
}

.roboto-black-red-64px {
  color: var(--red);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xxxxxl);
  font-style: normal;
  font-weight: 900;
}

.roboto-bold-black-48px {
  color: var(--black);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xxxxl);
  font-style: normal;
  font-weight: 700;
}

.roboto-normal-white-14px {
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.roboto-bold-gray-20px {
  color: var(--gray);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 700;
}
.roboto-mud-teak-14px {
  color: var(--teak);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.roboto-bold-teak-32px {
  color: var(--teak);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xxxl);
  font-style: normal;
  font-weight: 700;
}

.roboto-normal-ebony-clay-14px {
  color: var(--slate800);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}
